<ul>
    <li>
        <span>Gross Annual Salary: </span>
         <span>£{{model?.grossAnnualSalary?.toFixed(2)}}</span>
    </li>
    
    <li>
        <span>Gross Monthly Salary: </span>
        <span>£{{model?.grossMonthlySalary?.toFixed(2)}}</span>
         
    </li>

    <li>
        <span>Net Annual Salary: </span>
        <span>£{{model?.netAnnualSalary?.toFixed(2)}}</span>
         
    </li>
    
    <li>
        <span>Net Monthly Salary: </span>
        <span>£{{model?.netMonthlySalary?.toFixed(2)}}</span>
         
    </li>
    
    <li>
        <span>Annual Tax Paid: </span>
        <span>£{{model?.annualTaxPaid?.toFixed(2)}}</span>
         
    </li>
    
    <li>
        <span>Monthly Tax Paid: </span>
        <span>£{{model?.monthlyTaxPaid?.toFixed(2)}}</span>
         
    </li>
    
</ul>